.activity {
	position: absolute !important;
	display: inline !important;
	left: -0.5em !important;
	top: auto !important;
	font-size: 2em;
	background-color: transparent;
	z-index: 1043;
	border-radius: 50%;
}

a .activity {
	position: relative !important;
}

.activity-right {
	left: auto !important;
	right: -0.5 !important;
}

.activity-top {
	bottom: auto !important;
	top: -0.5em !important;
}

.activity-bottom {
	bottom: -0.5em !important;
}

.activity-error, .activity-new {
	color: #F30 !important;
	color: rgba(255, 51, 0, 0.75) !important;
}

.activity-success {
	color: #5CB85C !important;
	color: rgba(92, 184, 92, 0.75) !important;
}

.activity-info {
	color: #357EBD !important;
	color: rgba(53, 126, 189, 0.75) !important;
}

.activity-sm  {
	font-size: 1em;
}

.activity-lg {
	font-size: 4em;
}