
/* CSS Document */

.messages {
	height: auto;
	max-height: auto;
	width: 100%;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
}

.messages:after {
	content: "";
	display: block;
	padding: 6px;
}

.messages .message-reply-to, .chat .message-reply-to {
	width: auto;
	float: left;
	font-size: 14px;
	line-height: 28px;
}

.chat .message,
.messages .message {
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	border-radius: 6px;
	padding: 6px;
	border-bottom: solid thin gray;
}

.chat .message {
	border-radius: 0;
}

.message.bg-danger, .message.bg-info {
	color: black;
}

.message .date {
	font-size: 11px;
	float: right;
	line-height: 12px;
	padding-bottom: 6px;
	text-align: right;
}

.message .author, .message .reply-to-author {
	font-size: normal;
	font-weight: bold;
}

.message .message-avatar {
	width: 44px;
	height: auto;
	font-size: 6px;
	padding: 2px;
	float: left;
}

.message .message-avatar img {
	width: auto;
	max-width: 40px;
	height: 100%;
	max-height: 40px;
	border-raduis: 3px;
	margin-left: auto;
	margin-right: auto;
}

.message .message-header {
	width: 100%;
	right: 0;
	font-size: small;
	vertical-align: middle;
	text-align: right;
	clear: right;
}

.message .message-body {
	text-align: left;
	float: left;
	padding: 6px;
	width: auto;
	max-width: 90%;
	left: 72px;
}

.message .message-body *[role=message] {
	width: auto;
	float: left;
	word-wrap: break-word;
	clear: right;
	text-align: left;
}

.message * blockquote, .cke_editable blockquote {
	background-color: rgba(255,255,255,0.5);
	padding: 6px;
	font-size: 0.85em;
	font-style: italic;
	word-wrap: break-word;
	display: block;
	float: left;
	clear: both;
	width: 100%;
}

.message .message-footer {
	width: 100%;
	float: left;
}

.message .message-footer * {
	position: relative;
	width: auto;
	font-size: smaller;
	clear: none;
	padding: 0 6px;
}

.message .message-meta {
	float: left;
	font-size: smaller;
	display: table-cell;
	vertical-align: middle;
}

.message .message-actions {
	float: right;
}

.message .message-actions a {
	font-size: small;
	padding: 2px 4px;
}

.message .message-reply-to {
	float: right;
	margin-right: 6px;
}

.message-hidden {
	opacity: 0.3;
}

/**
* Chat section
*/

.chat {
	display: block;
	overflow: hidden;
	padding: 0px !important;
	z-index: 10000;
}

.chat * {
	z-index: 10000;
}

.chat .message-avatar {
	width: 32px;
	height: 32px;
	padding: 2px;
}

.chat .message-avatar img {
	width: 100%;
	height: auto;
}

.chat .chat-messages-container {
	display: block;
	position: absolute;
	overflow-y: auto;
	height: 78%;
	top: 15px; right: 15px; left : 15px;
	bottom: 20%;
}

.chat .chat-messages {
	display: block;
	position: relative;
	height: 100%;
	padding-bottom: 20px;
}

.chat .chat-form {
	display: block;
	position: absolute;
	width: auto;
	right: 15px; left : 15px; bottom: 0;
	overflow: auto;
	background-color: rgba(0,0,0, 0.8);
	padding: 8px;
}

.chat-form .alert {
	color: black;
}

.chat-form-btn {
	background-color: transparent;
	border: none;
}

.chat .message-actions a {
	font-size: smaller;
}

.chat-form-container {
	color: white;
}

.input-group .btn-group > .btn, .btn-group-vertical > .btn {
    position: relative;
	float: none;
}

/**
 * Redactor styling section
 */
.message-form .redactor-toolbar, .message-form .redactor-box,
.chat-form-container textarea, .chat-form-container .redactor-box {
	background-color: transparent;
	box-shadow: none;
	color: black;
}

.message-form .redactor-editor, .chat-form-container .redactor-editor {
	padding: 6px;
	background-color: #fff;
	border: none !important;
}

.chat-form-container .redactor-toolbar {
	background-color: transparent;
	margin-top: -15px !important;
}

.chat-form-container .redactor-toolbar li a {
	color: white;
}
